[Unit]
Description=Run ClusterGuard HA Data Node VIP Reconcile

[Timer]
OnBootSec=5s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=clusterguard-agent-reconcile.service

[Install]
WantedBy=timers.target
